<div class="card">
    <div class="card-head city-details">School Details</div>
    <div class="card-body cardb">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Code</td>
                        <td>{{schools.schoolId}}</td>
                    </tr>
                    <tr>
                        <td>School Name</td>
                        <td>{{schools.name}}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{schools.city}}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>{{schools.state}}</td>
                    </tr>
                    
                </tbody>
            </table>
    </div>
</div>